<h1>Pedidos preparados</h1>
<mat-list *ngIf="(pedidos$ | async) as ListaPedidos" class="info-card mat-elevation-z8"
    style="margin-top: 30px; margin-left: 60px; width: 500px; padding-right: 40px;">
    <h3 mat-subheader>Lista</h3>
    <mat-list-item *ngFor="let item of ListaPedidos">
        <mat-icon mat-list-icon>folder</mat-icon>
        <h4 mat-line>{{ item.dataPedido.toDate() | date: 'dd/MM/yyyy hh:mm' }}</h4>
        <button mat-icon-button color="accent" (click)="delete(item)">
            <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="enviarPedido(item)">
            <mat-icon>share</mat-icon>
        </button>
        <!-- <button mat-icon-button color="primary" (click)="edit(item)">
            (<mat-icon>format_list_numbered_rtl</mat-icon>Pedido)
        </button> -->
        <!-- <a mat-button routerLink="/pedido/{{ item.id }}">(<mat-icon>format_list_numbered_rtl</mat-icon>Pedido)</a> -->
    </mat-list-item>
</mat-list>

