<div layout="column" fxFlex="96">

    <form class="info-card mat-elevation-z8" [formGroup]='pedidoForm' (ngSubmit)="gravarPedido()"
        style="margin-top: 30px; margin-left: 30px; padding-left: 20px;padding-bottom: 20px;">
        
        <mat-form-field>
            <input matInput [matDatepicker]="myDatepicker" formControlName="dataContagem" class="datePicker">
            <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker></mat-datepicker>
        </mat-form-field>

        <table formArrayName="linhaProduto">

            <ng-container *ngFor="let item of pedidoForm.get('linhaProduto').controls let i= index" [formGroupName]="i">
                <tr>

                    <td class="tdNomeProduto">

                        {{ item.controls.nomeProduto.value }}
                    </td>

                    <td class="tdQtde">
                        <mat-form-field class="mffQtde">
                            <input matInput type="number" style="text-align: right;" formControlName="qPedido">
                        </mat-form-field>
                        <span class="tdUnidade">{{ item.controls.un1.value }} (s)</span>
                        <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                        <mat-error *ngIf="item.controls.qPedido.hasError('min') ">
                            <span class="spanError">Valor deve ser maior que 0.</span>
                        </mat-error>
                    </td>

                    <td class="tdInfo">
                        <span class="tdInfoLabel">Estoque:</span>
                        <!-- {{ item.controls.qTotal.value}} {{ item.controls.un1.value }} (s) -->
                        {{ item.controls.qTotal.value}} = [
                        {{ item.controls.q1.value }} {{ item.controls.un1.value }}(s)
                        +
                        {{ item.controls.q2.value}} {{ item.controls.un2.value }}(s)
                        ]
                        <br><br>
                        <span class="tdInfoLabel">Mínima desejada:</span> {{ item.controls.qMinima.value}}
                        <br>
                        <span class="tdInfoLabel">Sugestão:</span> {{ item.controls.qSugestao.value }}
                    </td>

                </tr>
            </ng-container>

        </table>

        <br>

        <button mat-button color="primary" type="submit" [disabled]="!pedidoForm.valid">
            <mat-icon>done</mat-icon>Salvar Pedido
        </button>

    </form>
</div>