<div layout="column" fxFlex="96">

    <form class="info-card mat-elevation-z8" [formGroup]='pedidoForm' (ngSubmit)="gravarPedido()"
        style="margin-top: 30px; margin-left: 30px; padding-top: 20px; padding-left: 20px;padding-bottom: 20px;">

        <mat-form-field disabled>
            <input matInput [matDatepicker]="myDatepicker" placeholder="Data do Pedido" formControlName="dataPedido"
                class="datePicker" readonly>
            <mat-datepicker-toggle matSuffix [for]="myDatepicker" disabled></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker></mat-datepicker>
        </mat-form-field>

        <table formArrayName="linhaProduto">

            <ng-container *ngFor="let item of pedidoForm.get('linhaProduto')['controls'] let i= index"
                [formGroupName]="i">
                <tr>

                    <td class="tdNomeProduto">

                        {{ item.controls.nomeProduto.value }}
                    </td>

                    <td class="tdQtde">
                        <mat-form-field class="mffQtde">
                            <input matInput type="number" style="text-align: right;" formControlName="qPedido">
                        </mat-form-field>
                        <span class="tdUnidade">{{ item.controls.un1.value }} (s)</span>
                        <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                        <mat-error *ngIf="item.controls.qPedido.hasError('min') ">
                            <span class="spanError">Valor deve ser maior que 0.</span>
                        </mat-error>
                    </td>

                    <td class="tdInfo">
                        <span class="tdInfoLabel">Estoque:</span>
                        {{ item.controls.qTotal.value}} = [
                        {{ item.controls.q1.value }} {{ item.controls.un1.value }}(s)
                        <ng-container *ngIf="item.controls.un2.value">
                            + {{ item.controls.q2.value}} {{ item.controls.un2.value }}(s)
                        </ng-container>
                        ]
                        <br><br>
                        <span class="tdInfoLabel">Mínima desejada:</span> {{ item.controls.qMinima.value}}
                        <br>
                        <span class="tdInfoLabel">Sugestão:</span> {{ item.controls.qSugestao.value }}
                    </td>

                    <td class="tdInfo">
                        <span class="tdInfoLabel">Preço unitário:</span>
                        {{ item.controls.precoCompra.value | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
                        <br><br>
                        <span class="tdInfoLabel">Valor da compra: </span>
                        {{ (item.controls.qPedido.value * item.controls.precoCompra.value) | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
                    </td>
                </tr>
            </ng-container>

        </table>

        <br><br>
        <mat-divider></mat-divider>
        <br>

        <span class="spanValor">. Valor do Pedido: {{ totalPedido() | currency:'BRL':'symbol':'1.2-2':'pt-BR'}}</span>

        <br><br>
        <mat-divider></mat-divider>
        <br>

        <button mat-button color="primary" type="submit" [disabled]="!pedidoForm.valid">
            <mat-icon>done</mat-icon>Salvar Pedido
        </button>
    </form>
</div>