
<div layout="column" fxFlex="96">
    <form class="example-form" [formGroup]='contagemForm' (ngSubmit)="salvarContagem()">

        <mat-form-field>
            <input matInput type="datetime" style="text-align: right;" formControlName="dataContagem">
        </mat-form-field>

        <table formArrayName="linhaProduto">

            <ng-container *ngFor="let item of produtos; let i= index" [formGroupName]="i">

                <tr>

                    <td class="tdNomeProduto">

                        <mat-form-field class="tdNomeProduto">
                            <input matInput type="text" style="text-align: right;" formControlName="nomeProduto" value={{item.nomeProduto}}>
                        </mat-form-field>
                        <!-- {{item.nomeProduto}} -->
                    </td>

                    <td class="tdQtde">
                        <mat-form-field class="mffQtde">
                            <input matInput type="number" style="text-align: right;" formControlName="q1">
                        </mat-form-field>
                        <span class="tdUnidade">{{ item.estoque.unEstoque1}} (s)</span>
                    </td>


                    <td class="tdProduto">
                        <mat-form-field class="mffQtde">
                            <input matInput type="number" style="text-align: right" formControlName="q2">
                        </mat-form-field>
                        <span class="tdUnidade">{{ item.estoque.unEstoque2}} (s)</span>
                    </td>

                </tr>
            </ng-container>
            <!-- </tbody> -->
        </table>

        <br>
        <!-- <button mat-raised-button type="submit" (click)= salvarContagem()>Salvar Contagem </button> -->
        <button mat-raised-button type="submit">Salvar Contagem </button>

    </form>
</div>