<!-- <app-bebidas-form></app-bebidas-form> -->

<!-- <app-contagem></app-contagem> -->

<!-- <app-uso-observable></app-uso-observable> -->

<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
    <span>Semente Brasilis</span>

    <div fxLayoutGap="15px">

        <a mat-raised-button routerLink="inicial" routerLinkActive="mat-accent">Inicial</a>
        <!-- <a mat-raised-button routerLink="teste" routerLinkActive="mat-accent">Teste</a> -->
        <a mat-raised-button routerLink="produtos" routerLinkActive="mat-accent">Produtos</a>
        <a mat-raised-button routerLink="contagem" routerLinkActive="mat-accent">Contagem</a>
        <a mat-raised-button routerLink="listaContagem" routerLinkActive="mat-accent">Lista de Contagens</a>
        <a mat-raised-button routerLink="listaPedido" routerLinkActive="mat-accent">Lista de Pedidos</a>
        <a mat-raised-button routerLink="apoio" routerLinkActive="mat-accent">Apoio</a>
        <!-- <a mat-raised-button routerLink="pedidoApresentacao/5C4NWE3eJR198008vsgc" routerLinkActive="mat-accent">Pedido</a> -->

    </div>
</mat-toolbar>

<router-outlet></router-outlet>