<!-- <app-bebidas-form></app-bebidas-form> -->

<!-- <app-contagem></app-contagem> -->

<!-- <app-uso-observable></app-uso-observable> -->

<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
    <span>Semente Brasilis</span>

    <div fxLayoutGap="15px">

        <a mat-raised-button routerLink="inicial" routerLinkActive="mat-accent">Inicial</a>
        <a mat-raised-button routerLink="produtos" routerLinkActive="mat-accent">Produtos</a>
        <a mat-raised-button routerLink="contagem" routerLinkActive="mat-accent">Contagem</a>
        <a mat-raised-button routerLink="listaContagem" routerLinkActive="mat-accent">Lista de Contagens</a>
    </div>
</mat-toolbar>

<router-outlet></router-outlet>