<ng-container *ngIf="(pedido$ | async) as pedido">

    <mat-list class="info-card mat-elevation-z8"
        style="margin-top: 30px; margin-left: 60px; width: 600px; padding-right: 40px;">
        <!-- <h2>Contagens efetuadas</h1> -->
        <h3 mat-subheader>Pedido</h3>
        {{ pedido.dataPedido.toDate() | date: 'dd/MM/yyyy' }}

        <table class="pedidoTable">
            <tr *ngFor="let item of pedido.linhaProduto">
                <td class="tdNomeProduto">{{ item.nomeProduto }}</td>
                <td class="tdQtdePedido">
                    {{ item.qPedido }}
                    <span class="tdUnidade">{{ item.unCompra }}(s)</span>
                </td>
            </tr>
        </table>


        <!-- <mat-form-field floatPlaceholder="auto" flex="100">
            <textarea #txtsgWhatsApp matInput matTextareaAutosize required>
                {{ pedidoString }}
            </textarea>
        </mat-form-field> -->

        <!-- <button (click)="copyToCB()">copy</button> -->

        <br><textarea #txtConfigFile>
            {{ pedidoString }}
        </textarea><br>
        <button (click)="copyToCB()">copy</button>

    </mat-list>
</ng-container>